<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Sistema | 1.0.1 </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/fc56a37a95.js"></script>
    <link rel="stylesheet" href="../css/cliente.css">
</head>

<body>
            <!--  -->
    
            <main>
                <div class="dropdown">
                    <span  dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown
                    </span>
                   
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                     <ul>
                         <li class="dropdown-item">Home</li>
                         <li class="dropdown-item">Seleção</li>
                         <li class="dropdown-item">Home</li>
                         <li class="dropdown-item">Home</li>
                         <li class="dropdown-item">Home</li>
                         <li class="dropdown-item">Home</li>
                         <li class="dropdown-item">Home</li>
                     </ul>
                    </div>
                
                    <div class="dropdown">
                        <span  dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Dropdown
                        </span>
                         
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                         <ul>
                             <li class="dropdown-item">Home</li>
                             <li class="dropdown-item">Sel</li>
                             <li class="dropdown-item">Home</li>
                             <li class="dropdown-item">Home</li>
                             <li class="dropdown-item">Home</li>
                             <li class="dropdown-item">Home</li>
                             <li class="dropdown-item">Home</li>
                         </ul>
                        </div>
                        <div class="dropdown">
                            <span  dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Dropdown
                            </span>
                             
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                             <ul>
                                 <li class="dropdown-item">Home</li>
                                 <li class="dropdown-item">Sel</li>
                                 <li class="dropdown-item">Home</li>
                                 <li class="dropdown-item">Home</li>
                                 <li class="dropdown-item">Home</li>
                                 <li class="dropdown-item">Home</li>
                                 <li class="dropdown-item">Home</li>
                             </ul>
                            </div>
                            <div class="dropdown">
                                <span  dropdown-toggle"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Dropdown
                                </span>
                                 
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                 <ul>
                                     <li class="dropdown-item">Home</li>
                                     <li class="dropdown-item">Sel</li>
                                     <li class="dropdown-item">Home</li>
                                     <li class="dropdown-item">Home</li>
                                     <li class="dropdown-item">Home</li>
                                     <li class="dropdown-item">Home</li>
                                     <li class="dropdown-item">Home</li>
                                 </ul>
                                </div>
                               
                            </main>
                
                    <!--  -->
    <section>
        <div class="container-form">
            <form action="">
                <h4>Cadastro de Clientes</h4>
                <hr>
                <div class="container-consultar">
                    <input type="serach" id="consultar" name="consultar" list="listar-cliente" class="btn btn-outline-secondary"
                        placeholder="Consultar CPF ou CNPJ">&nbsp;&nbsp;&nbsp;
                    <button type="button" id="btConsultar" class="fa fa-search fa-2x"></button>
                    <datalist id="listar-cliente">

                    </datalist>
                </div>
                <hr>
                <label for="">Cliente:&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="search" id="nm-cliente" name="nm-cliente" placeholder="Nome do cliente">
                </label><br>
                <label
                    for="">CPF:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="search" id="cpf" name="cpf" placeholder="Ex 015.269.530-00">
                </label>
                <label for="">RG:
                    &nbsp;&nbsp;&nbsp;
                    <input type="search" id="rg" name="rg" placeholder="Ex 65412555-1">
                </label>
                <label for="">CNPJ: 
                    <input type="search" id="cnpj" name="cnpj" placeholder="Ex 645645646/0001-52">
                </label><br>
                <label for="">Tel-1:
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="number" id="tel-1" name="tel-1" placeholder="11 - 56628844">
                </label>
                <label for="">Tel-2: &nbsp;
                    <input type="search" id="tel-2" name="tel-2" placeholder="11 - 56225332">
                </label>
                <label for="">Cel-1:
                    <input type="search" id="cel-1" name="cel-1" placeholder="11 - 988452555">
                </label>
                <label for="">Cel-2:
                    <input type="search" id="cel-2" name="cel-2" placeholder="11 - 544558855">
                </label>

                <hr>
                <!-- cep -->
                <label for="">CEP: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="search" id="cep" name="cep" class="btn btn-outline-secondary" placeholder="Ex 05845-569">
                </label>
                <label for="">UF:
                    <input type="search" id="uf" name="uf" placeholder="SP" style="width:45px;padding: 0px;padding-top: 6px;padding-bottom: 6px;">
                </label>
                <label for="">LOCAL:
                    <input type=" search" id="localidade" name="localidade" placeholder="São Paulo" style="width: 180px;">
                </label>
                <label for="">LOGR:
                    <input type="search" id="logradouro" name="logradouro" placeholder="Rua da Paz" style="width: 483px;">
                </label>
                <label for="">BAIRRO: &nbsp;
                    <input type="search" id="bairro" name="bairro" placeholder="PQ. das Arvores" style="width: 363px;">
                </label>
                <label for="">N° Casa & Ref:
                    <input type="search" id="obs" name="obs" placeholder="OBS entregar proximo a praça" style="width: 612px;">
                </label>

                <hr>
                <button type="button" id="btCadastrar" class="btn btn-primary">Cadastrar Cliente</button>&nbsp;&nbsp;&nbsp;
                <button type="button" id="btAlterar" class="btn btn-warning">Alterar Cadastro</button>&nbsp;&nbsp;&nbsp;
                <button type="button" id="btDeletar" class="btn btn-danger">Deletar Cadastro</button>&nbsp;&nbsp;&nbsp;
                <div class="container-atalho">
                    <ul class="atalhos">
                        <li>F5 --Refresh</li>
                        <li>F7 --Desconto %</li>
                        <li>F8 --Limpar Campos</li>
                    </ul>
                </div>
                <hr>

            </form>
        </div>
    </section>
    














    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="../src/cliente.js"></script>
</body>

</html>